<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            padding-top: 60px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <div class="title">
            Лабораторна робота 1
        </div>
        <div class="task">
            <b>Завдання:</b>
            <span>
                У чарівній країні використовуються монетки номіналом A1, A2,..., AM. чарівний чоловічок прийшов у магазин і виявив, що він має рівно по дві монетки кожної гідності. Йому потрібно заплатити суму N. Напишіть програму, яка визначає, чи зможе він розплатитися без здачі.
            </span>
        </div>
        <form method="POST">
            <div class="path">
                <div class="caption">
                    <b>Надайте шлях до файлу INPUT.txt:</b>
                </div>
                <div class="path_filling">
                    <input type="text" placeholder="..." name="input_file">
                </div>
            </div>
            <div class="path">
                <div class="caption">
                    <b>Надайте шлях до файлу OUTPUT.txt:</b>
                </div>
                <div class="path_filling">
                    <input type="text" placeholder="..." name="output_file">
                </div>
            </div>
            <input type='submit' value='Run' />
        </form>
    </div>
</body>
</html>
