<head>
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
<div>
    <div class="title">
        Лабораторна робота 2
    </div>
    <div class="task">
        <b>Завдання:</b>
        <span>
            До школи бальних танців професора Падеграса записалися n учнів — хлопчиків та дівчаток. Професор побудував їх в один ряд, і хоче відібрати з них для першого заняття групу учнів, що стоять поспіль, у якій кількість хлопчиків і дівчаток однакова. Скільки варіантів вибору є у професора?
        </span>
    </div>
    <form method="POST">
        <div class="path">
            <div class="caption">
                <b>Надайте шлях до файлу INPUT.txt:</b>
            </div>
            <div class="path_filling">
                <input type="text" placeholder="..." name="input_file">
            </div>
        </div>
        <div class="path">
            <div class="caption">
                <b>Надайте шлях до файлу OUTPUT.txt:</b>
            </div>
            <div class="path_filling">
                <input type="text" placeholder="..." name="output_file">
            </div>
        </div>
        <input type='submit' value='Run' />
    </form>
</div>
